Repository mi-wada/github_playground, changes with the labels that .github/labeler.yml gives for each.
All labels: prod, stg

fix miss spell in prod/main.rb
  src/prod/main.rb
Labels: prod

fix miss spell in prod/main.rb
  src/prod/main.rb
Labels: prod

fix miss spell in stg/main.rb
  src/stg/main.rb
Labels: stg

add !
  src/prod/main.rb
Labels: prod

Create comment-on-PR.yml
  .github/workflows/comment-on-PR.yml
Labels: none

fix
  src/stg/main.rb
Labels: stg

Update comment-on-PR.yml
  .github/workflows/comment-on-PR.yml
Labels: none

re:fix
  src/stg/main.rb
Labels: stg

remove Unnecessary comment and blank
  .github/workflows/comment-on-PR.yml
Labels: none

create test_sispatch
  .github/workflows/test_dispatch.yml
Labels: none

fix workflow name
  .github/workflows/test_dispatch.yml
Labels: none

fix
  .github/workflows/test_dispatch.yml
Labels: none

fix
  .github/workflows/test_dispatch.yml
Labels: none

fix
  .github/workflows/test_dispatch.yml
Labels: none

impl scheduled job
  .github/workflows/test_schedule.yml
Labels: none

impl scheduled job
  .github/workflows/test_schedule.yml
Labels: none

impl scheduled job
  .github/workflows/test_schedule.yml
Labels: none

impl scheduled job
  .github/workflows/test_schedule.yml
Labels: none

display context.repo.owner
  .github/workflows/test_dispatch.yml
Labels: none

display context.repo.owner
  .github/workflows/test_dispatch.yml
Labels: none

display context.repo.owner
  .github/workflows/test_schedule.yml
Labels: none

display context.repo.owner
  .github/workflows/test_schedule.yml
Labels: none

create workflow
  .github/workflows/reject-not-english-PR.yml
Labels: none

ddd
  README.md
Labels: none

fix workflow
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

Update reject-not-english-PR.yml
  .github/workflows/reject-not-english-PR.yml
Labels: none

Update reject-not-english-PR.yml
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  .github/workflows/reject-not-english-PR.yml
Labels: none

fix
  README.md
Labels: none

.github/labeler.yml:

prod:
- src/prod/**/*

stg:
- src/stg/**/*
